* {
  margin: 0;
  padding: 0;
}

.box {
  /* background-color: rgb(210, 208, 208); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #dcdfe6;
}

i {
  display: flex;
  font-style: normal;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 5%;
  color: #000;
  padding: 7px 20px;

}

i span {
  margin-right: 5px;
}

h1 {
  text-align: center;
  user-select: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 15px 0 7px 0;
  padding-left: 5px;
}

input,
select {
  width: 300px;
  height: 30px;
  font-size: 16px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  /* outline: none; */
  padding: 0 5px;
  outline-color: #83bcf8;
  border: 1px solid #dcdfe6;
}

select {
  text-align: center;
}

option {
  border-radius: 15px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.button button {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.button button:active {
  opacity: 0.7;
  transform: scale(0.9);
  transition: all 0.1s;
}